.Positions_Title {
  margin-bottom: 2rem; }

.Positions_List {
  margin: 0;
  padding: 0; }
  @media (min-width: 1024px) {
    .Positions_List {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem; } }

.Positions_ListItem {
  list-style-type: none; }

.Position {
  align-items: center;
  color: #000;
  box-shadow: 0px 4px 16px rgba(17, 12, 17, 0.1);
  display: flex;
  margin-bottom: 1rem;
  text-decoration: none; }

.Position_Avatar {
  display: flex;
  padding: 1rem 2rem; }

.Position_Content {
  border-left: 1px solid #ECEBEC;
  box-sizing: border-box;
  padding: 1rem 1.5rem; }
  @media (min-width: 1024px) {
    .Position_Content {
      min-height: 6.625rem; } }

.Position_Title {
  margin-bottom: 0.5rem; }

.Position_Employment, .Position_Location {
  font-size: 0.75rem;
  margin: 0; }
