@import "../../helpers/helpers.scss";

.Positions_Title {
  margin-bottom: 2rem;
}

.Positions_List {
  margin: 0;
  padding: 0;
  @media #{$desktop}  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
}

.Positions_ListItem {
  list-style-type: none;
}

.Position {
  align-items: center;
  color: #000;
  box-shadow: 0px 4px 16px rgba(17, 12, 17, 0.1);
  display: flex;
  margin-bottom: 1rem;
  text-decoration: none;
}

.Position_Avatar {
  display: flex;
  padding:1rem 2rem;
}

.Position_Content {
  border-left: 1px solid #ECEBEC;
  box-sizing: border-box;
  padding:1rem 1.5rem;
  @media #{$desktop}  {
    min-height: rem(106px);
  }
}

.Position_Title {
  margin-bottom: 0.5rem;
}

.Position_Employment, .Position_Location {
  font-size: rem(12px);
  margin: 0;
}