@import "../../helpers/helpers.scss";

/* typography */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  margin:0;
}

h1,h2{
  font-family: 'Anton', sans-serif;
  font-weight:normal;
  @media #{$desktop}  {
    letter-spacing:1px;
  }
}

h1 {
  font-size: 2.625em;
  line-height: 50px;
  text-shadow: 0px 1px 0px rgba(17, 12, 17, 0.48);
  text-transform: uppercase;
  @media #{$desktop}  {
    font-size: 3.5em;
    line-height: rem(70px);
  }
}
h2{
  font-size: 2em;
  line-height:40px;
  text-transform: uppercase;
}
h3{
  font-size: 1em;
  line-height: 20px;
}

/* end typography */

/* general helper classes for component layout */

.container {
  box-sizing: border-box;
  margin: auto;
  max-width: rem(1000px);
  padding-left: 1rem;
  padding-right: 1rem;
}

.row {
  margin-bottom: 3rem;
  margin-top: 3rem,
}

.stripe {
  width: 100%;
  height: 25px;
  background: repeating-linear-gradient(-45deg, #ECEBEC, #ECEBEC 3px, transparent 3px, transparent 6px);
  margin-top: auto;
  margin-bottom: .5em;
  margin-right: auto;
}

/* end general helper classes for component layout */