.header {
  background-image: url("../../assets/images/careers-bgM.jpg");
  background-position: center;
  background-size: cover;
  padding: 3rem 1rem;
  position: relative; }
  @media (min-width: 768px) {
    .header {
      background-image: url("../../assets/images/careers-bgT.jpg"); } }
  @media (min-width: 1024px) {
    .header {
      background-image: url("../../assets/images/careers-bgD.jpg");
      padding: 4rem 1rem; } }

.header_title {
  color: #FFF;
  text-transform: uppercase; }
