@import "../../helpers/helpers.scss";

.ContactUs {
  background-color: #2DBABA;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.ContactUs .container {
  @media #{$desktop}  {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.ContactUs-Wrapper {
  @media #{$desktop}  {
    width: rem(350px);
  }
}

.ContactUs_Heading {
  color: #FFF;
  margin-bottom: 2rem;
  @media #{$desktop}  {
    margin-bottom: 0;
  }
}

.ContactPerson {
  align-items: center;
  background-color: #FFF;
  display: flex;
  padding: 1rem;
}

.ContactPerson_Avatar {
  width: rem(72px);
}
.ContactPerson_Avatar img {
  width: 100%;
}

.ContactPerson_Content {
  padding: 1rem;
}

.ContactPerson_Name {
  font-size: 1.25em;
  line-height: 26px;
}

.ContactPerson_Title {
  margin: 0;
}

.ContactDetails {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
}

.ContactDetails_Email {
  color: #4AD9D9;
}

.ContactDetails_LinkedIn {

}
