.ContactUs {
  background-color: #2DBABA;
  padding-top: 2rem;
  padding-bottom: 2rem; }

@media (min-width: 1024px) {
  .ContactUs .container {
    align-items: center;
    display: flex;
    justify-content: space-between; } }

@media (min-width: 1024px) {
  .ContactUs-Wrapper {
    width: 21.875rem; } }

.ContactUs_Heading {
  color: #FFF;
  margin-bottom: 2rem; }
  @media (min-width: 1024px) {
    .ContactUs_Heading {
      margin-bottom: 0; } }

.ContactPerson {
  align-items: center;
  background-color: #FFF;
  display: flex;
  padding: 1rem; }

.ContactPerson_Avatar {
  width: 4.5rem; }

.ContactPerson_Avatar img {
  width: 100%; }

.ContactPerson_Content {
  padding: 1rem; }

.ContactPerson_Name {
  font-size: 1.25em;
  line-height: 26px; }

.ContactPerson_Title {
  margin: 0; }

.ContactDetails {
  background-color: #FFF;
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem; }

.ContactDetails_Email {
  color: #4AD9D9; }
