@media (min-width: 1024px) {
  .careersBlock {
    align-items: center;
    display: flex; } }

@media (min-width: 1024px) {
  .imagesBlock {
    margin-right: 5%;
    width: 55%; } }

.contentBlock {
  padding-bottom: 2rem;
  padding-top: 2rem; }
  @media (min-width: 1024px) {
    .contentBlock {
      width: 35%; } }

.contentBlock_description {
  padding-right: 1rem; }
