@import "../../helpers/helpers.scss";

.careersBlock {
  @media #{$desktop}  {
    align-items: center;
    display: flex;
  }
}

.imagesBlock {
  @media #{$desktop}  {
    margin-right: 5%;
    width: 55%;
  }
}

.contentBlock {
  padding-bottom: 2rem;
  padding-top: 2rem;
  @media #{$desktop}  {
    width: 35%;
  }
}

.contentBlock_description {
  padding-right: 1rem;
}