@import "../../helpers/helpers.scss";

.PositionsPage_About {
  margin-bottom: 3rem;
  margin-top: 2rem;
  text-align: right;
}

.PositionsPage_Badge {
  border: 1px solid #ECEBEC;
  border-radius: 0.5rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
}

.PositionsPage_Content {
  line-height: 1.6;
  margin-bottom: 4rem;
  @media #{$desktop}  {
    max-width: 80%;
  }
}

.PositionsPage_Header {
  font-size: 1.25rem;
}