@import "../../helpers/helpers.scss";
.ImageGrid {
  display: grid;
  grid-gap: 1rem;
}

.ImageGrid_image {
  margin-bottom: rem(12px);
  position: relative;
  width: 100%;
}

.ImageGrid_image::after {
  background: repeating-linear-gradient(-45deg, #ECEBEC, #ECEBEC 3px, transparent 3px, transparent 6px);
  bottom: rem(-12px);
  content: '';
  height: rem(12px);
  left: 0;
  position: absolute;
  width: 100%;
}

.ImageGrid_image img {
  width: 100%;
}


.ImageGrid_image.big {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.ImageGrid_image.big::after {
  left: 5%;
  width: 90%;
}

.ImageGrid {
  grid-row: 2;
  grid-column: 1;
}